


body{
    background-color:rgb(37, 36, 37);
    font-family: 'Source Sans Pro';
    color:beige;
    font-weight: 200;


}


.modal{
    display: none;
    position: fixed;
    width: 400px;
    height: 200px;
    background-color: beige;
    top: 50%;
    margin-top: -100px;
    left: 50%;
    margin-left: -200px;
    padding: 20px;
    color: black;
    border: 3px solid rgb(27, 172, 229);
    border-radius: 5px;
}
.modal p{
    font-size: 24px;;
}
.modal a{
    float: right;
    color: black;
    font-size: 20px;
}
.modal input[type=text]{
    width: 80%;
}


.navegação{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: beige;
    padding: 32px;
    height: 100px;

}

.logo{
    width: 100px;
    height: 70px;
    border-radius: 25%;
}

#btn-mobile{
    display: none;

}

#menu{
    display: flex;
    width: 100%;
    top: 120px;
    right: 0px;
    gap: 50px;
    font-size: 24px;


}

nav a:hover{
    color:rgb(27, 172, 229) ;
    text-decoration: underline rgb(237, 217, 4) ;
}


a{
    color: rgb(104, 104, 96);
    text-decoration: none;
}


.fotoperfil{
    width: 160px;
    height: 200px;
    border-radius: 25%;
    border: 3px solid rgb(27, 172, 229);


}
.center{
    text-align: center;
    margin-top: 7%;
}
.ident{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.ident2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;

}
h1{
    color: rgb(27, 172, 229) ;
    font-weight: 200;
    text-decoration: underline 2px rgb(237, 217, 4);
    text-transform: uppercase;
    
}

h2{
    font-weight: 100;
}


.textos{
    margin-top: 50px;
    line-height: 25px;
    margin: auto;
    margin-left: 100px;


}
h3{
    font-weight: 500;
    text-decoration: underline rgb(237, 217, 4) ;;
    font-size: 20px;
    text-transform: uppercase;
}

p{
    font-size: 20px;
}

.sobre img{
    width: 400px;
    height: 300px;
    border: 2px solid rgb(237, 217, 4);
    border-radius: 5%;
}

.hobies{
    display: flex;
    flex-direction: column;
    margin-left: -80px;
    font-size: 18px;
    align-items: center;

}

.hobies1{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    align-self: center;


}
.hobies1 p{
    align-self: center;
}

.hobies2{
    display: flex;
    flex-direction: row;
    margin-top: 30px;


}
#div_hobies{
    width: 400px;
    height: 400px;
    padding: 30px;
    text-align: center;

}
#formação{
    margin-top: 50px;
}

footer img{
    width: 40px;
    height: 40px;
}
footer{
    display: flex;
    justify-content: center;
    text-align: center;
}
footer a{
    margin: 20px;
}
footer h3{
    margin-top: 2px;
    text-decoration: none;
}



@media (max-width: 768px){
    .container{
        padding: 0px 10px;
    }
    #menu{
        width: 100%;
        display: block;
        position: absolute;
        right: 0px;
        height: 0px;
        transition: .6s;
        z-index: 1000;
        list-style-type: none;
        font-size: 18px;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu{
        height: 100px;
        visibility: visible;

    }

    #menu a{
        display: flex;
        justify-content: end;
        margin: 0 10px;
        color: beige;
        margin-top: 10px;
    }

    #menu a:hover{
        color:rgb(27, 172, 229) ;
    }

    #btn-mobile{
        display: flex;
        padding: 8px 0px;
        font-size: 25px;
        border: none;
        background: none;
        color:rgb(104, 104, 96);;
        cursor: pointer;
        gap: 16px;
    }

    #hamburger{
        display: block;
        border-top: 2px solid;
        width: 20px;
        align-self: center;
    }

    #hamburger::after, #hamburger::before{
        content: '';
        display: block;
        width: 20xp;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    
    }

    #nav.active #hamburger{
        border-top-color: transparent;
    
    }
    
    #nav.active #hamburger::before{
        transform: rotate(135deg);
        color: rgb(27, 172, 229);
        text-decoration: underline rgb(237, 217, 4) ;
    }
    
    #nav.active #hamburger::after{
        transform: rotate(-135deg);
        top: -7px;
        color: rgb(27, 172, 229);
        text-decoration: underline rgb(237, 217, 4) ;
    }

    .hobies1, .hobies2{
        display: flex;
        flex-direction: column;
    }

    .textos{
        margin-left: 10px;
    }

    .hobies{
        margin-left: -13px;
    }
    .sobre{
        margin-top: 50px;
    }

    .modal{
        width: 350px;
        height: 200px;
        margin-left: -205px;
    }
}

